.team-logo {
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}

.game-listing{
    text-align: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.100);
    color: white;
    width: 100%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    border-radius: 3px;
}

.away-team{
    position: absolute;
    top: 15px;
    left: 115px;
    height: 150px;
    width: 150px;
    /* border: 1px solid white; */
}

.home-team{
    position: absolute;
    top: 15px;
    left: 285px;
    height: 150px;
    width: 150px;
    /* border: 1px solid white; */
}

.game-info{
    height: 100px;
    width: 250px;
    position: absolute;
    top: 0px;
    right: 0;
    /* border: 1px solid white; */
}

.at-seperator{
    height: 100px;
    width: 10px;
    position: absolute;
    top: 40px;
    left: 265px;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.time-box{
    position:absolute;
    top: 0px;
    left: 10px;
    width: 100px;
    height: 100px;
    margin-top: 7px;
    /* border: 1px solid white; */
    margin-left: 0;
    text-align: left;
}

.time-data {
    padding: 0;
    margin: 0;
}

.team-names {
    position: absolute;
    left: 480px;
    width: 220px;
    text-align: left;
    /* border: 1px solid white; */
}

.team-moneylines {
    position: absolute;
    top: 0px;
    left: 650px;
    width: 100px;
    height: 100px;
    text-align: right;
    /* border: 1px solid white; */
}

.game-score {
    line-height: 100px;
    margin: 0;
}

.game-channel {
    position: absolute;
    right: 290px;
    line-height: 100px;
    width: 80px;
    height: 100px;
}

.game-channel-info {
    padding: 0;
    margin: 0;
}

.place-bet-button {
    background-color: #FFF500;
    border: none;
    height: 30px;
    width: 100px;
    margin-top: 35px;
}

.hero-image-container {
    position: relative;
    width: 1200px;
    height: 300px;

}

.hero-image {
    /* position: absolute; */
    /* z-index: 1; */
}

.hero-text {
    width: 445px;
    height: 145px;
    position: absolute;
    top: 70px;
    left: 90px;
}

.hero-intro {
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: -25px;
    padding: 0;
}

.hero-logo {
    font-size: 80px;
    font-weight: 800;
    font-style: italic;
    margin: 0;
    padding: 0;
}

.hero-slogan {
    font-size: 20px;
    font-weight: 400;
    margin-top: -15px;
    /* margin-left: 5px; */
    padding: 0;
}

.labels-container {
    position: relative;
    width: 1200px;
    height: 30px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.050);
    border-radius: 3px;
}

.none-labels-container {
    position: relative;
    width: 1200px;
    height: 70px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.050);
    border-radius: 3px;
}

.upcoming-completed-headers {
    margin: 0;
    margin-left: 30px;
}

.none-label {
    padding: 0;
    margin: 0;
    margin-left: 30px;
    margin-right: auto;
    line-height: 70px;
    font-size: 16px;
    font-weight: 200;
    font-style: italic;
}

.week-label {
    position: absolute;
}

.week-label select {
    background-color: transparent;
    border: none;
    color: white;
}

select:focus-visible {
    border: none;
    outline: none;
}

.teams-label {
    position: absolute;
    top: 0px;
    left: 250px;
    margin: 0;
    line-height: 30px;
}

.moneyline-label {
    position: absolute;
    left: 700px;
    margin: 0;
    line-height: 30px;
}

.channel-label{
    position: absolute;
    margin: 0;
    right: 290px;
    line-height: 30px;
}

.place-bet-label {
    position: absolute;
    margin: 0;
    top: 0;
    right: 80px;
    line-height: 30px;
}

.upcoming-games-header {
    background-color: rgba(255, 255, 255, 0.100);
    position: relative;
    margin-top: 30px;
    border-radius: 3px;
}

.completed-games-header {
    background-color: rgba(255, 255, 255, 0.100);
    margin-top: 30px;
    border-radius: 3px;
}

.week-label-view-games {
    position: absolute;
    top: 10px;
    right: 20px;
}

.week-label-view-games select {
    background-color: transparent;
    border: none;
    color: white;
}

select:focus-visible {
    border: none;
    outline: none;
}

.date-label {
    position: absolute;
    left: 10px;
    margin: 0;
    padding: 0;
    line-height: 30px;
}

.no-completed-games {
    color: white;
}