.team-logo {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.game-listing{
    text-align: center;
    position: relative;
    background-color: black;
    color: white;
    width: 70%;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
}

.away-team{
    position: absolute;
    top: 25px;
    height: 150px;
    width: 30%;
    border: 1px solid white;
}

.home-team{
    position: absolute;
    top: 25px;
    left: 50%;
    height: 150px;
    width: 30%;
    border: 1px solid white;
}

.game-info{
    height: 100px;
    width: 18%;
    position: absolute;
    bottom: 40px;
    right: 0;
    border: 1px solid white;
}

.at-seperator{
    height: 150px;
    width: 10px;
    position: absolute;
    top: 80px;
    left: 37%;
    font-size: 40px;
    margin: 0;
    padding: 0;
}