.info-page-container {
    position: relative;
    width: 1200px;
    height: 800px;
}

.about-container {
    position: absolute;
    width: 700px;
    height: 580px;
    background-color: rgba(255, 255, 255, 0.100);
    border-radius: 10px;
    top: 0;
    left: 0;
}

.about-text {
    position: absolute;
    width: 600px;
    left: 50px;
    top: 100px;
    z-index: 2;
}

.greyscale-image {
    filter: brightness(.2);
    z-index: 1;
}

.tech-used-conatiner {
    position: absolute;
    top: 590px;
    left: 0;
    width: 700px;
    height: 240px;
    background-color: rgba(255, 255, 255, 0.100);
    border-radius: 10px;
}

.info-page-titles {
    position: absolute;
    top: 50px;
    left: 50px;
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: 800;
    font-style: italic;
}

.bubble-container {
    position: absolute;
    top: 125px;
    margin-left: 50px;
    margin-right: 50px;
    width: 600;
    height: 75px;
}

.tech-used-bubbles {
    background-color: rgba(255, 255, 255, 0.100);
    width: fit-content;
    text-align: center;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.thank-you-container {
    position: absolute;
    width: 490px;
    height: 240px;
    background-color: rgba(255, 255, 255, 0.100);
    border-radius: 10px;
    top: 0;
    right: 0;
}

.thank-you-text {
    margin-top: -15px;
}

.connect-container {
    position: absolute;
    width: 490px;
    height: 580px;
    background-color: rgba(255, 255, 255, 0.100);
    border-radius: 10px;
    top: 250px;
    right: 0;
}

.linkedin-image {
    position: absolute;
    top: 200px;
    left: 50px;
}

.linkedin-text {
    position: absolute;
    top: 100px;
    left: 50px;
    width: 390px;
}

.linkedin-link {
    color: cornflowerblue;
}