.info-page-container {
    position: relative;
    width: 1200px;
    height: 800px;
}

.tech-used-conatiner {
    position: absolute;
    width: 700px;
    height: 240px;
    background-color: rgba(255, 255, 255, 0.100);
    border-radius: 10px;
}

.info-page-titles {
    position: absolute;
    top: 50px;
    left: 50px;
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: 800;
    font-style: italic;
}

.bubble-container {
    position: absolute;
    top: 125px;
    margin-left: 50px;
    margin-right: 50px;
    width: 600;
    height: 75px;
}

.tech-used-bubbles {
    background-color: rgba(255, 255, 255, 0.100);
    width: fit-content;
    text-align: center;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.thank-you-container {
    position: absolute;
    width: 490px;
    height: 240px;
    background-color: rgba(255, 255, 255, 0.100);
    border-radius: 10px;
    top: 0;
    right: 0;
}

.thank-you-text {
    margin-top: -15px;
}