.game-time-label {
    position: absolute;
    left: 10px;
    margin: 0;
}

.select-logos {
    width: 1200px;
    height: 400px;
    position: relative;
}

.away-logo-container {
    width: 590px;
    height: 400px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.100);
    border-radius: 10px;
}

.home-logo-container:hover {
    background-color: rgba(255, 255, 255, 0.500);
}

.away-logo-container:hover {
    background-color: rgba(255, 255, 255, 0.500);
}

.home-logo-container {
    width: 590px;
    height: 400px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.100);
    border-radius: 10px;
}

.away-logo-container-selected {
    width: 590px;
    height: 400px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(34, 52, 134, 0.5);
    border-radius: 10px;
}

.home-logo-container-selected {
    width: 590px;
    height: 400px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba(34, 52, 134, 0.5);
    border-radius: 10px;
}

.away-select-logo {
    margin-left: 145px;
    margin-top: 20px;
    width: 300px;
    height: 300px;
}

.home-select-logo {
    margin-left: 145px;
    margin-top: 20px;
    width: 300px;
    height: 300px;
}

.select-team-name {
    text-align: center;
    font-size: 20px;
    margin: 0;
    margin-top: -10px;
    padding: 0;
}

.rounded-listing {
    border-radius: 10px;
}

.bet-amount-container {
    margin-top: 20px;
    position: relative;
    width: 1200px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.100);
    border-radius: 10px;
}

.bet-input-label{
    position: absolute;
    right: 350px;
    line-height: 100px;
    font-size: 20px;
    margin: 0;
}

.bet-input{
    position: absolute;
    top: 35px;
    right: 140px;
    width: 200px;
    height: 30px;
    border: none;
    padding: 0;
    margin: 0;
}

.bet-input-button{
    position: absolute;
    top: 35px;
    right: 20px;
    background-color: #FFF500;
    border: none;
    height: 30px;
    width: 100px;
}

.cancel-bet-button {
    position: absolute;
    top: 35px;
    left: 20px;
    background-color: #494949;
    color: white;
    border: none;
    height: 30px;
    width: 100px;
}