.game-time-label {
    position: absolute;
    left: 10px;
    margin: 0;
}

.select-logos {
    width: 1200px;
    height: 400px;
    position: relative;
}

.away-logo-container {
    margin-top: 7px;
    width: 590px;
    height: 400px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.100);
    border-radius: 10px;
}

.home-logo-container:hover {
    background-color: #00a2ff3b;
}

.away-logo-container:hover {
    background-color: #00a2ff3b;
}

.home-logo-container {
    margin-top: 7px;
    width: 590px;
    height: 400px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.100);
    border-radius: 10px;
}

.away-logo-container-selected {
    width: 590px;
    height: 400px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #00a2ff3b;
    border: 1px solid #00A3FF;
    border-radius: 10px;
}

.home-logo-container-selected {
    width: 590px;
    height: 400px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #00a2ff3b;
    border: 1px solid #00A3FF;
    border-radius: 10px;
}

.away-select-logo {
    margin-left: 145px;
    margin-top: 20px;
    width: 300px;
    height: 300px;
}

.home-select-logo {
    margin-left: 145px;
    margin-top: 20px;
    width: 300px;
    height: 300px;
}

.select-team-name {
    text-align: center;
    font-size: 20px;
    margin: 0;
    margin-top: -10px;
    padding: 0;
}

.rounded-listing {
    border-radius: 10px;
}

.bet-amount-container {
    margin-top: 20px;
    position: relative;
    width: 1200px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.100);
    border-radius: 10px;
}

.bet-input-label{
    position: absolute;
    right: 380px;
    line-height: 100px;
    font-size: 20px;
    margin: 0;
}

.dollar-sign {
    font-size: 20px;
    text-align: right;
    line-height: 30px;
    position: absolute;
    width: 20px;
    top: 35px;
    right: 340px;
    height: 30px;
    border: none;
    padding: 0;
    padding-right: 4px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.100);
    color: #fff;
}

.bet-input{
    position: absolute;
    font-size: 20px;
    top: 35px;
    right: 140px;
    width: 200px;
    height: 30px;
    border: none;
    padding: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.100);
    color: #bfbfbf;
}

.bet-input-button{
    position: absolute;
    top: 35px;
    right: 20px;
    background-color: #FFF500;
    border: none;
    height: 30px;
    width: 100px;
}

.cancel-bet-button {
    position: absolute;
    top: 35px;
    left: 20px;
    background-color: #494949;
    color: white;
    border: none;
    height: 30px;
    width: 100px;
    border-radius: 3px;
}

.cancel-bet-button:hover {
    background-color: rgba(255, 255, 255, 0.200);
}

.team-names-container {
    position: absolute;
    text-align: left;
    left: 380px;
    width: 250px;
    margin: 0;
    padding: 0;
    line-height: 14px;
}

.team-moneylines-container {
    position: absolute;
    text-align: center;
    width: 100px;
    left: 670px;
    margin: 0;
    padding: 0;
    line-height: 14px;
}