.loading-spinner-bars {
    width: 500px;
    height: 300px;
    margin-left: 475px;
    margin-right: auto;
    margin-top: 50px;
}

.positive-profit{
    color: greenyellow;
}

.negative-profit{
    color: red;
}

.bet-history-containers-container {
    position: relative;
    width: 1200px;
    height: 555px;
}

.net-earnings-container {
    position: absolute;
    left:50px;
    top: 140px;
    background-color: rgba(255, 255, 255, 0.100);
    width: 242px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-radius: 3px;
}

.earnings-info {
    position: absolute;
    top: 82px;
    left: 50px;
    margin: 0;
    margin-left: 20px;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
}

.net-earnings-info {
    margin: 0;
    margin-left: 20px;
    padding: 0;
}

.stats-header {
    font-size: 20px;
    margin: 0;
    margin-top: 20px;
    margin-left: 20px;
    padding: 0;
}

.bets-placed-container {
    position: absolute;
    left:302px;
    top: 140px;
    background-color: rgba(255, 255, 255, 0.100);
    width: 242px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-radius: 3px;
}

.bet-history-info-heading {
    text-align: left;
    margin: 0;
    padding: 0;
    margin-left: 50px;
    font-style: italic;
    font-size: 40px;
}

.username-text {
    text-align: left;
    margin: 0;
    padding: 0;
    margin-left: 50px;
}

.total-bets-info {
    margin: 0;
    margin-left: 20px;
    padding: 0;
}

.small-team-logo {
    position: absolute;
    left: 20px;
    top: 60px;
    width: 40px;
    height: 40px;
}

.stats-team-name {
    position: absolute;
    top: 50px;
    left: 70px;
    font-size: 14px;
    font-style: italic;
    font-weight: 700;
}

.most-profitable-team-info {
    position: absolute;
    left:50px;
    top: 270px;
    background-color: rgba(255, 255, 255, 0.100);
    width: 242px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-radius: 3px;
}

.least-profitable-team-info {
    position: absolute;
    left: 302px;
    top: 270px;
    background-color: rgba(255, 255, 255, 0.100);
    width: 242px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-radius: 3px;
}

.bet-history-profile-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 595px;
    height: 480px;
    margin-left: auto;
    margin-right: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.100);
    border-radius: 20px;
    padding-top: 50px;
}

.bet-history-graph-container {
    position: absolute;
    width: 595px;
    height: 480px;
    top: 0;
    right: 0;
    margin-left: 0;
    margin-right: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.100);
    border-radius: 20px;
    padding-top: 50px;
}

.bet-listing{
    text-align: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.100);
    color: white;
    width: 100%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    border-radius: 3px;
}

.bet-info{
    height: 100px;
    width: 250px;
    position: absolute;
    top: 0px;
    right: 0;
}

/* .at-seperator{
    height: 100px;
    width: 10px;
    position: absolute;
    top: 40px;
    left: 265px;
    font-size: 16px;
    margin: 0;
    padding: 0;
} */

.bet-info-piece {
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.pick-info {
    position: absolute;
    left: 500px;
    width: 200px;
    text-align: left;
}

/* .game-score {
    line-height: 100px;
} */

.bet-buttons {
    height: 30px;
    width: 100px;
    background-color: rgb(90, 90, 90);
    border: none;
    margin: 10px
}

.pick-label {
    position: absolute;
    left: 475px;
    margin: 0;
    line-height: 30px;
}

.bet-moneyline-label {
    position: absolute;
    left: 550px;
    margin: 0;
    line-height: 30px;
}

.bet-channel-label {
    position: absolute;
    left: 700px;
    margin: 0;
    line-height: 30px;
}

.bet-profit-label {
    position: absolute;
    left: 840px;
    margin: 0;
    line-height: 30px;
}

.bet-game-time-label{
    position: absolute;
    left: 10px;
    margin: 0;
    line-height: 30px;
}

.bet-teams-label {
    position: absolute;
    left: 250px;
    margin: 0;
    line-height: 30px;
}

.pick-team-info {
    margin: 0;
    padding: 0;
    line-height: 100px;
}

.centered-pick-team {
    position: absolute;
    left: 467px;
    width: 50px;
    text-align: center;
}

.moneyline-info {
    margin: 0;
    padding: 0;
    line-height: 100px;
}

.centered-moneyline-info {
    position: absolute;
    left: 568px;
    width: 50px;
    text-align: center;
}

.bet-channel-info {
        margin: 0;
        padding: 0;
        position: absolute;
        left: 70px;
        line-height: 100px;
}

.bet-profit-piece {
    margin: 0;
    padding: 0;
    line-height: 100px;
}

.centered-text {
    width: 100px;
    height: 100px;
    text-align: center;
    position: absolute;
    left: 815px;
}

.time-box-full {
    position: absolute;
    top: 15px;
    left: 30px;
    width: 100px;
    text-align: left;
}

.time-box-short {
    position: absolute;
    top: 15px;
    left: 30px;
    width: 100px;
    text-align: left;
}