.form-page-container {
    position: relative;
    height: 700px;
}

.add-bet-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 595px;
    margin-left: auto;
    margin-right: 0;
    text-align: center;
    /* background-color: #00a2ff20; */
    background-color: rgba(255, 255, 255, 0.100);
    border-radius: 20px;
    padding-top: 50px;
}

.add-bet-description-container {
    position: absolute;
    width: 595px;
    height: 480px;
    margin-left: 0;
    margin-right: auto;
    text-align: center;
    /* background-color: #00a2ff20; */
    background-color: rgba(255, 255, 255, 0.100);
    border-radius: 20px;
    padding-top: 50px;
}

.add-bet-description {
    width: 495px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.description-header {
    margin: 0;
    padding: 0;
    font-weight: 800;
    font-size: 40px;
    font-style: italic;
    margin-top: -20px;
}

.add-bet-description-body {
    margin-top: 5px;
}

.playbook-image {
    position: absolute;
    bottom: 0;
    left: 0;
}

.win-button {
    width: 240px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.100);
    font-weight: 700;
    font-size: 20px;
    color: white;
    border: none;
    margin-left: 7.5px;
    margin-right: 7.5px;
    border-radius: 3px;
}

.win-button:hover {
    background-color: #00a2ff3b;
}

.clicked-win-button {
    background-color: #00a2ff3b;
    border: 1px solid #00A3FF;
    width: 240px;
    height: 40px;
    font-weight: 700;
    font-size: 20px;
    color: white;
    margin-left: 7.5px;
    margin-right: 7.5px;
    border-radius: 3px;
}

.loss-button {
    width: 240px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.100);
    font-weight: 700;
    font-size: 20px;
    color: white;
    border: none;
    margin-left: 7.5px;
    margin-right: 7.5px;
    border-radius: 3px;
}

.loss-button:hover {
    background-color: #00a2ff3b;
}

.clicked-loss-button {
    background-color: #00a2ff3b;
    border: 1px solid #00A3FF;
    width: 240px;
    height: 40px;
    font-weight: 700;
    font-size: 20px;
    color: white;
    margin-left: 7.5px;
    margin-right: 7.5px;
    border-radius: 3px;
}


.submit-button {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 495px;
    height: 40px;
    background-color: yellow;
    border: none;
    border-radius: 3px;
    font-weight: 700;
    font-size: 20px;
}

.submit-button:hover {
    background-color: rgba(255, 255, 0, 0.500);
}

.form-input-container {
    position: relative;
    width: 495px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.100);
    margin-bottom: 15px;
    border-radius: 3px;
}

.form-label-styles {
    text-align: right;
    position: absolute;
    left: 0px;
    color: white;
    line-height: 40px;
    margin: 0;
    padding: 0;
}

.form-input-styles {
    position: absolute;
    right: 0;
    height: 40px;
    background-color: transparent;
    color: #bfbfbf;
    border: none;
    padding: 0;
    margin: 0;
}

.pick-to-win-label {
    width: 120px;
}

.pick-input {
    width: 375px;
}

.picks-moneyline-label {
    width: 160px;
}

.pick-moneyline-input {
    width: 330px;
}

.pick-opponent-label {
    width: 106px;
}

.pick-opponent-input {
    width: 390px;
}

.opponents-moneyline-label {
    width: 208px
}

.opponents-moneyline-input {
    width: 282px;
}

.form-date-label {
    width: 63px;
}

.form-date-input {
    width: 427px;
    margin-top: -18px;
}

.bet-amount-label {
    width: 137px;
}

.bet-amount-input {
    width: 353px;
}