.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: 25px 0 10px;
  background-color: rgba(255, 255, 255, 0.100);
  overflow: hidden;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
  color: white;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: white;
  /* background-color: #FFF500; */
  text-align: center;
  padding: 24px 15px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  /* these last two make the logout button in
  the nav bar look like another link */
  /* border: none; */
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  /* background-color: black; */
  color: #fff500;
}

.log-out-button {
  background-color: transparent;
  border: none;
}

.smartbet-logo {
  margin-top: 7px;
  height: 22px;
  width: auto;
}