.bet-wager-info {
    line-height: 100px;
    margin: 0;
    padding: 0;
}
.bet-wager-container {
position: absolute;
top: 0px;
left: 650px;
width: 100px;
height: 70px;
text-align: right;
}

.edit-bet-wager-info {
    margin-top: 23px;
}